body {
  scroll-padding-right: 1px;
  overflow-y: auto;
}
/* Pagina de login */
.input {
  margin: 10px;
  width: 70%;
  padding-bottom: 15px;
  margin-right: 10px;
}

.div-container {
  padding: 50px;
  margin: 10px;
}

.button {
  background-color: #882C6E;
  border-radius: 8px;
  padding: 10px;
}

.login-image {
  max-width: 60%;
  max-height: 60%;
  justify-content: center;
  padding-bottom: 30px;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
  bottom: 0.1px;
  position: fixed;
}

.icon {
  width: 41px;
  height: 41px;
  margin-left: 8px;
  margin-right: 8px;
  bottom: 2px;
  border: 8px;
  border-radius: 4px;
}

.icon:hover {
  background-color: rgb(141, 180, 192);
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 10px;;
  align-items: center;
}

.header-title {
  color: #6E1C70;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 31px;
  margin-left: 30px;
}

/* AdditionalPacientInfo */

.additional-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.additional-info, h5 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #505050;
}

/* Infos header */
.header-name {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #6E1C70;
}

.header-picture {
/*  border: 2px solid #6E1C70; */
  border-radius: 40%;
  width: 96px;
  height: 98px;
}

.header-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-info, h5 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #505050;
}

/* Agendamento */
.body-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.agendamento-label {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #6E1C70;
}

/* Profile */
.QRcode{
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-info {
  border-bottom: 0.5px solid #9D9090;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 5px;
  align-items: center;
  margin-right: 30px;
}

.profile-figure {
  max-width: 29px;
  max-height: 29px;
  justify-content: flex-start;
  flex-grow: 1;
  margin-right: 15px;
  margin-bottom: 1px;
}

/* Check List */
.input-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inline-inputs {
  padding: 5px;
  margin: 3px;
  font-size: 18px;
  line-height: 25px;
  display: inline;
}

.text-input{
  border:none;
  border-bottom:1px solid #ccc;
}

/* CardAgendamento */
.cardAg-container {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  left: 8.21%;
  right: 3.86%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.card-border {
  border-right: 0.5px solid #9D9090;
  padding-right: 8px;
}

.add-info {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #505050;
}

/* Home Screen e CardCheck */
.card-check {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.left {
  text-align: left;
}

.home-content {
  padding-bottom: 50px;;
}

.check-figure {
  justify-content: flex-start;
  flex-grow: 1;
}

.check-text {
  flex-grow: 3;
}
